.react-multiple-carousel__arrow{
    background: #ff014f !important;
    min-width: 23px !important;
min-height: 23px !important;
}
.react-multiple-carousel__arrow--right{
    right: calc(0% + 1px) !important;
}
