.btn{
    padding:  1rem;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: bold;
    color: #ff014f;
    text-transform: uppercase;
    box-shadow: 10px 10px 19px #000,
               -10px -10px 19px #262a2e;
    transition: all 0.3s ease-in-out;
}
.btn:hover{
    background:#000;
    color: #fff;
}
::selection{
    background:#c4cfde;
    color: #ff014f;
}
.card{
    transition: all 0.3s ease-in-out;
    box-shadow: 10px 10px 19px #000,
               -10px -10px 19px #262a2e;
}
.card:hover{
    background: #000;
}