.container{
    max-width: 1240px;
    width: 100%;
    margin: auto;
    padding: 0 1rem;
}

.menu-items{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    padding: 2rem 1rem;
    background:#1c1816;
    transition: all 0.3s ease-in-out;
    transform: translateX(-120%);
}
.menu-items.active{
    transform: translateX(0);
}